<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card-header">
            SingIn
        </div>
        <div class="card-body">
            <form (submit)="signIn()">
                <div class="form-group">
                    <input type="text" [(ngModel)]="user.usuario" name="username" class="form-control" placeholder="USERNAME" required autofocus>

                </div>
                <div class="form-group">
                    <input type="password" [(ngModel)]="user.contrasena" name="password" class="form-control" placeholder="PASSWORD" required autofocus>
                </div>
                <button type="submit" class="btn btn-primary btn-block">SingIn</button>
                

            </form>
        </div>
    </div>
</div>
